.navbar {
    background-color: gray;
    color: white;
    font-size: x-large;

    height: 5rem;
    padding-top: 1rem;
    padding-bottom: .2rem;
}

ul {
    list-style-type: none;
}

li {
    display: inline !important;
}

a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: lightgray;
}
.router-text {
    font-weight: bold;
}

h3 {
    margin-top: -.75rem;
}

.btn-outline-light {
    border: none;
    background: none;

    font-size: large;
    margin-top: -.25rem;
}

.btn-outline-light:hover {
    border: none;
    background: none;

    color: lightgray;
}