<div class="navbar">
    <div class="float-left ml-4">
        <a routerLink="/"><h3>{{title}}</h3></a>
    </div>
    <div class="float-right">    
        <ul>
            <li class="ml-2" >
                <a routerLink="/" class="router-text">
                    Home
                </a>
            </li>
            <li class="ml-2 mr-1">
                <div ngbDropdown class="d-inline-block">
                    <button type="button" class="btn btn-outline-light" id="dropdownBasic1" ngbDropdownToggle>
                        <fa-icon [icon]="faCog"></fa-icon>
                    </button>
                    <div ngbDropdownMenu class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem routerLink="/profile" [hidden]="!authService.loggedIn">Profile</button>
                        <button ngbDropdownItem routerLink="/admin" [hidden]="!authService.loggedIn && !authService.showAdmin">Admin</button>
                        <button ngbDropdownItem (click)="logoutUser()" [hidden]="!authService.loggedIn">Logout</button>

                        <button ngbDropdownItem routerLink="/login" [hidden]="authService.loggedIn">Login</button>
                        <button ngbDropdownItem routerLink="/register" [hidden]="authService.loggedIn">Register</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

